# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
channel_shuffle_vs2013/channel_shuffle/Release/
channel_shuffle_vs2013/channel_shuffle/Debug/
channel_shuffle_vs2013/soil/projects/VC9/Release/
channel_shuffle_vs2013/soil/projects/VC9/Debug/

# Qt user files
*.user*
*.opensdf
*.sdf

# Visual Studio files
*.pdb